# Purposefully not ignoring .cabal files as that breaks the development flow if you use IntelliJ

*.aux
_build/
cabal-dev
.cabal-sandbox/
cabal.sandbox.config
*.cabal
*.chi
*.chs.h
.dev.env
.dir-locals.el
dist
*.dyn_hi
*.dyn_o
*.hi
*.hie
.hie
*.hp
.hpc
.hsenv
.idea
*.iml
local-configuration.yaml
node_modules
*.o
out/
outputfiles
*.prof
repos/
.stack-work
*stack.yaml.lock
stack.yaml.lock
*.swp
tags
TAGS/
tags.lock
tags.temp
work
.vscode
*.code-workspace
.history
.supervisord
